.wrapper {
    --width-screen: 1280px;
}

.body {
    display: flex;
    margin: 0 auto;
    width: var(--width-screen);
}

.sidebar {
    flex: 0 0 20%;
    max-width: 20%;
    background-color: var(--white-color);
}

.content {
    flex: 0 0 80%;
    max-width: 80%;

    &.full-width {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
