.wrapper {
    --search-height: 46px;

    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--width-header, 58px);
    background-color: var(--primary-color);
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width-screen);
}

.logo {
    width: 90px;
    height: var(--width-header);
}
